# SPDX-FileCopyrightText: © 2024 Stacey Adams <stacey.belle.rose@gmail.com>
# SPDX-License-Identifier: Unlicense

bandit >= 1.7.7
build >= 1.1.1
coloredlogs >= 15
liccheck >= 0.9.2
mypy >= 1.5
pycodestyle >= 2.11
pydocstyle >= 6.2
pyflakes >= 3.1
pylint >= 3.0
pyroma >= 4.2
radon >= 6.0
redbaron >= 0.9.2
reuse >= 3.0
ruff >= 0.3
setuptools >= 64
twine >= 5.0
types-docutils >= 0.20
types-psutil >= 5.8.0, < 6.0
types-setuptools >= 64
